head, body {
  text-align: center;
  font-size: 18px;
}
#title {
  
}
button, input {
  font-size: 1rem;
}
.userInput {
  padding-top: 2rem;
}

#currentValue {
  padding-top: 4rem;
  font-size: 1.4rem;
}
