body {
  text-align: center;
  font-size: 24px;
  margin: 0;
  color: #1c2e4a;
  background-color: #ededed;
}
button, input {
  font-size: 1rem;
  color: inherit;
}
.userInput {
  padding-top: 2rem;
  color: inherit;
}
#title {
  background-color: #FFCCCB;
  margin: inherit;
  color: inherit;
  height: 15%;
  width: 100%;
}
#instructionsButton {
  text-align: right;
  padding: 1rem;
  padding-top: 1rem;
  padding-right: 15%;

}
#instructionsText{
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}
#tenTech{
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  list-style-position: inside;
}
#fiveBank{
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  list-style-position: inside;
}
#currentValue {
  padding-top: 4rem;
  font-size: 2rem;
  color: inherit;
}
#stockName {
  padding: 2rem;
  font-size: 2.5rem;
}
.bottomPage{
  margin: 1rem;
  bottom: 0;
  color: inherit;
  margin-bottom: 3rem
}
  #stockDescription {
    position: absolute;
    left: 0;
    padding-right: 50%;
    bottom: inherit;
    margin: inherit;
    color: inherit;
  }
  #externalLinks {
    position: absolute;
    right: 6rem;
    padding-left: 40%;
    font-size: 2rem;
    bottom: inherit;
    margin: inherit;
    color: inherit;
  }
#footer {
  bottom: 0;
  position: fixed;
  left: 0;
  background-color: #FFCCCB;
  height: 20px;
  width: 100%;
}
#yrHigh {
  padding: 0.5rem;
  font-size: 1.5rem;
}
#yrLow {
  padding: 0.5rem;
  font-size: 1.5rem;
}
#priceTarget {
  padding: 0.5rem;
  font-size: 1.5rem;
}
/*w3schools https://www.w3schools.com/howto/howto_js_topnav.asp*/
.topnav {
  background-color: #FFCCCB;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #1c2e4a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}